<!DOCTYPE html>
<html>
  <head>
    <title>LetterNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab:300" rel="stylesheet">  </head>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arimo:700" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <body>
    <%= yield %>
  </body>
</html>
